@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: 'ONEMobileTitle';
  src:url('../public/font/ONEMobileTitle.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'NanumSquareOTFExtraBold';
  src:url('../public/font/NanumSquareOTFRegular.otf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'NanumSquareOTFBold';
  src:url('../public/font/NanumSquareOTFRegular.otf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'NanumSquareOTFRegular';
  src:url('../public/font/NanumSquareOTFRegular.otf');
  font-style: normal;
  font-weight: 400;
}

.title-1 {
  font-family: 'ONEMobileTitle';
  font-size: 104px;
  line-height: 120%;
}

.title-2{
  font-family: 'ONEMobileTitle';
  font-size: 48px;
  line-height: 150%;
}

.title-3 {
  font-family: 'ONEMobileTitle';
  font-size: 32px;
  line-height: 150%;
}

.sub-title-1 {
  font-family: 'NanumSquareOTFExtraBold';
  font-size: 24px;
  line-height: 120%;
}

.sub-title-2 {
  font-family: 'NanumSquareOTFRegular';
  font-size: 24px;
  line-height: 120%;
}

.body-1 {
  font-family: 'NanumSquareOTFExtraBold';
  font-size: 20px;
  line-height: 200%;
}

.body-2 {
  font-family: 'NanumSquareOTFBold';
  font-size: 20px;
  line-height: 200%;
}

.body-3 {
  font-family: 'NanumSquareOTFRegular';
  font-size: 20px;
  line-height: 40px;
}

.caption-1 {
  font-family: 'NanumSquareOTFBold';
  font-size: 16px;
  line-height: 200%;
}

.caption-2 {
  font-family: 'NanumSquareOTFRegular';
  font-size: 16px;
  line-height: 32px;
}

.caption-3 {
  font-family: 'NanumSquareOTFBold';
  font-size: 12px;
  line-height: 200%;
}

/*.title-3 {*/
/*  font-family: 'NanumSquareOTFBold';*/
/*  font-size: 16px;*/
/*  line-height: 200%;*/
/*}*/

.title-4 {
  font-family: 'NanumSquareOTFBold';
  font-size: 12px;
  line-height: 200%;
}
